<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- URL для подключения к базе данных -->
    <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>

    <!-- Класс драйвера для базы данных -->
    <property name="connection.driver_class">org.postgresql.Driver</property>

    <!-- Имя пользователя базы данных -->
    <property name="connection.username">postgres</property>
    <property name="connection.password">pass</property>

    <!-- Автоматическое обновление схемы базы данных -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Диалект Hibernate для базы данных PostgreSQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Логирование SQL-запросов -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="show_sql">true</property>

    <mapping class="asd.Test"/>
  </session-factory>
</hibernate-configuration>
